<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Pilotiv" value="https://nuget.pkg.github.com/pavelbesedinsky/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <Pilotiv>
            <add key="Username" value="pavelbesedinsky" />
            <add key="ClearTextPassword" value="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" />
        </Pilotiv>
    </packageSourceCredentials>
</configuration>